*.log
*.pot
*.pyc
__pycache__/
local_settings.py
media
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
cvld/__pycache__/settings.cpython-312.pyc
mock
.idea
venv
.pytest_cache
~$2662A420.xlsx
2662A420.xlsx
teste.py
.vscode
*.sqlite3
celerybeat-schedule*
backup_azure.ps1
restore_azure.ps1
*.sqlite3
